name: Compile Examples

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - board:
              fqbn: soldered-inkplate-boards:esp32:Inkplate5V2
            additional-sketch-paths: |
              - examples/Inkplate5V2
          - board:
              fqbn: soldered-inkplate-boards:esp32:Inkplate6V2
            additional-sketch-paths: |
              - examples/Inkplate6
          - board:
              fqbn: soldered-inkplate-boards:esp32:Inkplate10V2
            additional-sketch-paths: |
              - examples/Inkplate10
          - board:
              fqbn: soldered-inkplate-boards:esp32:Inkplate6Flick
            additional-sketch-paths: |
              - examples/Inkplate6FLICK
          - board:
              fqbn: soldered-inkplate-boards:esp32:Inkplate6COLOR
            additional-sketch-paths: |
              - examples/Inkplate6COLOR
          - board:
              fqbn: soldered-inkplate-boards:esp32:Inkplate2
            additional-sketch-paths: |
              - examples/Inkplate2

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v2
        with:
          version: 0.35.3

      - name: Install ESP32 and Inkplate platforms
        run: |
          arduino-cli config init
          arduino-cli config add board_manager.additional_urls https://raw.githubusercontent.com/SolderedElectronics/Inkplate-Board-Definitions-for-Arduino-IDE/main/package_Inkplate_Boards_index.json
          arduino-cli core update-index
          arduino-cli core install soldered-inkplate-boards:esp32

      - name: Install dependencies
        run: |
          arduino-cli lib install ArduinoJson
          arduino-cli lib install Time

      - name: Compile examples
        run: |
          for sketch in ${{ matrix.additional-sketch-paths }}; do
            echo "Compiling $sketch for ${{ matrix.board.fqbn }}"
            arduino-cli compile --fqbn ${{ matrix.board.fqbn }} $sketch --warnings default
          done
