- name: Compile examples
  uses: arduino/compile-sketches@v1
  with:
    github-token: ${{ secrets.GITHUB_TOKEN }}
    platforms: |
      - source-url: https://raw.githubusercontent.com/SolderedElectronics/Inkplate-Board-Definitions-for-Arduino-IDE/main/package_Inkplate_Boards_index.json
        name: soldered-inkplate-boards:esp32
    fqbn: ${{ matrix.board.fqbn }}
    libraries: |
      - source-path: ./
      - name: ArduinoJson
      - name: Time
      - source-url: https://github.com/SolderedElectronics/Soldered-MFRC522-RFID-Reader-Arduino-Library.git
      - source-url: https://github.com/SolderedElectronics/Soldered-WS2812-Smart-Leds-Arduino-Library.git
      - source-url: https://github.com/SolderedElectronics/Soldered-BME280-BME680-Gas-Sensor-Arduino-Library.git
    sketch-paths: |
      ${{ matrix.additional-sketch-paths }}
    cli-compile-flags: |
      - --warnings="default"

